<nav>
  <p routerLink="/" class="enlace">Inicio</p>
  <p routerLink="/venta" class="enlace">Solicitud Venta</p>
  <p routerLink="/login" class="enlace" *ngIf="!user">Login</p>
  <p routerLink="/register" class="enlace" *ngIf="!user">Register</p>
  <p routerLink="/perfil" class="enlace" *ngIf="user">Perfil</p>
  <p routerLink="/pagar" class="enlace">Carrito</p>
</nav>
<main>
  <div class="contenedor">
    <div class="infoPerfil">
      <h1>Datos Personales</h1>
      <form action="" class="editarPerfil">
        <input type="text" name="Nombre" id="Nombre" readonly value="{{separatedWords[0]}}">
        <input type="text" name="Apellido" id="Apellido" readonly value="{{separatedWords[1]}}">
        <input type="email" name="Email" id="Email" [(ngModel)]="user.email" readonly value="{{user.email}}">
        <input type="tel" name="Telefono" id="Telefono" [(ngModel)]="user.telefono" readonly value="{{user.telefono}}">
        <input type="text" name="Direccion" id="Direccion" readonly value="{{user.direccion}}">
        <button class="Editar" *ngIf="!isEditing" (click)="editar()">Editar</button>
        <button class="Editar" *ngIf="isEditing" (click)="actualizar()">Guardar</button>
      </form>
    </div>
    <div class="historiales">
      <h1 class="tituloHistorial">Historico Compra</h1>
      <div class="historicoCompra" routerLink="/facturas">
        <div class="texto" *ngFor="let factura of facturas; let i = index">
          <ng-container *ngIf="i<3">
            <p>{{factura.idFactura}}</p>
            <p>{{factura.fecha}}</p>
            <p>{{factura.precio}}</p>
          </ng-container>
        </div>
      </div>
      <h1 class="tituloVentas">Productos en venta</h1>
      <div class="productosEnVenta" routerLink="/ventas">
        <div class="texto" *ngFor="let venta of ventas; let i = index">
          <ng-container *ngIf="i<3 && venta.operacion === 'V'">
            <p>{{venta.idJuego}}</p>
            <p>{{venta.idUsuario}}</p>
            <p>{{venta.operacion}}</p>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</main>
