<nav>
  <p routerLink="/" class="enlace">Inicio</p>
  <p routerLink="/venta" class="enlace">Solicitud Venta</p>
  <p routerLink="/login" class="enlace" *ngIf="!user">Login</p>
  <p routerLink="/register" class="enlace" *ngIf="!user">Register</p>
  <p routerLink="/perfil" class="enlace" *ngIf="user">Perfil</p>
  <p routerLink="/pagar" class="enlace">Carrito</p>
</nav>
<main>
  <div class="formularioVenta">
    <form action="">
      <div>
        <input type="text" name="Titulo" id="Titulo" [(ngModel)]="juego.nombre">
        <label for="Titulo">Titulo</label>
      </div>

      <div class="checkboxInput">
        <input type="checkbox" name="Accion" id="Accion" value="Accion" [(ngModel)]="juego.categoria">
        <label for="Accion">Accion</label>

        <input type="checkbox" name="RPG" id="RPG" value="RPG">
        <label for="RPG">RPG</label>

        <input type="checkbox" name="Aventura" id="Aventura" value="Aventura">
        <label for="Aventura">Aventura</label>


        <input type="checkbox" name="Multijugador" id="Multijugador" value="Multijugador">
        <label for="Multijugador">Multijugador</label>

        <input type="checkbox" name="Single" id="Single" value="Single">
        <label for="Single">Single</label>
      </div>


      <div>
        <input type="text" name="imagen" id="imagen">
        <label for="imagen">URL imagen</label>
      </div>

      <div>
        <input type="number" name="Precio" id="Precio" min="0" [(ngModel)]="juego.precio">
        <label for="Precio">Precio</label>
      </div>

      <div>
        <input type="text" name="Descripcion" id="Descripcion" [(ngModel)]="juego.descripcion">
        <label for="Descripcion">Descripcion</label>
      </div>

      <button class="Vender" (click)="guardarDatos()">Vender</button>
    </form>

  </div>
</main>
