<nav>
  <p routerLink="/" class="enlace">Inicio</p>
  <p routerLink="/venta" class="enlace">Solicitud Venta</p>
  <p routerLink="/login" class="enlace" *ngIf="!user">Login</p>
  <p routerLink="/register" class="enlace" *ngIf="!user">Register</p>
  <p routerLink="/perfil" class="enlace" *ngIf="user">Perfil</p>
  <p routerLink="/pagar" class="enlace">Carrito</p>
</nav>
<main>
  <div class="contenedor">
    <form action="" class="editarJuego">
      <input type="text" name="nombre" id="nombre" [(ngModel)]="juego.nombre">
      <input type="number" name="precio" id="precio" [(ngModel)]="juego.precio">
      <input type="text" name="descripcion" id="descripcion" [(ngModel)]="juego.descripcion">
      <button class="editar" (click)="editar()">Editar</button>
    </form>
  </div>
</main>
