<main>
  <!-- TODO Aqui poner un [ngClass] para que diferencie clases y agregue mas padding o menos-->
  <!--Temporalmente esta sin padding y sin centrar hasta que agregue la funcionalidad  de ngClass y el ts-->
  <div class="contenedor">
    <h1>Ventas activas</h1>
    <div class="Venta">
      <div class="DatosVenta">
        <p>1</p>
        <p>24/04/24</p>
        <p>40€</p>
        <p>Elden Ring</p>
      </div>
      <div class="botones">
        <button id="Editar">Editar</button>
        <button id="Borrar">Eliminar</button>
      </div>
    </div>
  </div>
</main>
