<nav>
  <p routerLink="/" class="enlace">Inicio</p>
  <p routerLink="/venta" class="enlace">Solicitud Venta</p>
  <p routerLink="/login" class="enlace" *ngIf="!user">Login</p>
  <p routerLink="/register" class="enlace" *ngIf="!user">Register</p>
  <p routerLink="/perfil" class="enlace" *ngIf="user">Perfil</p>
  <p routerLink="/pagar" class="enlace">Carrito</p>
</nav>
<main>
  <div class="contenedor">
    <h1>Ventas activas</h1>
    <div class="Venta" *ngFor="let venta of ventas;">
      <ng-container *ngIf="venta.operacion === 'V'">
        <div class="DatosVenta">
          <p>{{venta.idJuego}}</p>
          <p>{{venta.idUsuario}}</p>
          <p>{{venta.operacion}}</p>
        </div>
        <div class="botones">
          <button id="Editar" (click)="editar(venta.idJuego)">Editar</button>
          <button id="Borrar">Eliminar</button>
        </div>
      </ng-container>
    </div>
  </div>
</main>
