<nav>
  <p routerLink="/" class="enlace">Inicio</p>
  <p routerLink="/venta" class="enlace">Solicitud Venta</p>
  <!--TODO falta de hacer con el login y pasarle la redireccion e ID-->
  <p routerLink="/login" class="enlace" *ngIf="!user">Login</p>
  <p routerLink="/register" class="enlace" *ngIf="!user">Register</p>
  <p routerLink="/perfil" class="enlace"*ngIf="user">Perfil</p>
  <p routerLink="/pagar" class="enlace">Carrito</p>
</nav>
<main>
  <div id="Register">
    <h2>Login</h2>
    <br>
    <form action="">
      <div id="divCorreo">
        <label for="Correo">Correo</label>
        <br>
        <input type="email" name="Correo" id="Correo" [(ngModel)]="email">
      </div>
      <br>
      <br>

      <div id="divContraseña">
        <label for="Contraseña">Contraseña</label>
        <br>
        <input type="password" name="Contraseña" id="Contraseña" [(ngModel)]="password">
      </div>
      <br>
      <br>
      <button (click)="login()" type="submit" id="submit">Submit</button>
    </form>
  </div>

</main>
