<header>
  <div id="general">
    <img src="../assets/image (1).png" alt="logo" routerLink="/">
    <div id="titulo">
      <h1 routerLink="/">KomorebiGames</h1>
    </div>
    <div id="Vender" routerLink="/venta">
      <button>Vender</button>
    </div>
  </div>
</header>
  <!--TODO cambiar NAV a todos los demas componentes para poder usarlo con el login y register-->

<router-outlet></router-outlet>
<footer>
  <p>Numero de contacto: +34 000 00 00 00</p>
  <p>Correo de contacto: dam08.2023@gmail.com</p>
  <br>
  <a href=""><p>Terminos de uso</p></a>
  <a href=""><p>Politicas de privacidad</p></a>
</footer>
