main {
  display: flex;
  background-image: url('../../assets/image1.png');
  justify-content: center;
  height: 90vh;
}

.contenedor {
  position: relative;
  width: 60rem;
  background-color: #9AD0C2;
  border-radius: 10px;
  margin-bottom: 6.5rem;
  margin-top: 6.5rem;
  font-family: 'Exo2';
}

.juego {
  margin: 1rem;
  display: flex;
  gap: 15rem;
  align-items: center;
  justify-content: center;
  background-color: #F1FADA;
  border-radius: 2rem;
}

button {
  position: absolute;
  right: 1.5rem;
  bottom: 2rem;
  height: 2.5rem;
  width: 6rem;
  border-radius: 2rem;
  background-color: #F1FADA;
  font-family: 'Exo2';
  font-weight: 600;
}

nav {
  display: flex;
  background-color: #2D9596;
  height: 2rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  align-items: center;
  justify-content: center;
  font-family: 'Jersey10';
}

nav p {
  padding: 0.5rem 4rem;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
