<main>
  <div class="topBar">
    <button class="volver" routerLink="/">Volver</button>
    <h1>{{game.nombre}}</h1>
  </div>
  <div class="imagenYPlataformas">
    <img src="{{game.imagen}}" alt="{{game.nombre}}">
    <div class="categorias">
      <h2>{{game.categoria}}</h2>
      <h2>Accion</h2>
      <h2>Aventura</h2>
      <h2>Multijugador</h2>
  <button id="comprar">Comprar</button>

    </div>
  </div>
  <div class="descripcion">{{game.descripcion}}</div>
  <div class="comentarios">
    <h2>Comentarios</h2>
    <input type="text" maxlength="255" class="comentario" placeholder="Introduce tu comentario">
  </div>
</main>
