<nav>
  <p routerLink="/" class="enlace">Inicio</p>
  <p routerLink="/venta" class="enlace">Solicitud Venta</p>
  <p routerLink="/login" class="enlace" *ngIf="!user">Login</p>
  <p routerLink="/register" class="enlace" *ngIf="!user">Register</p>
  <p routerLink="/perfil" class="enlace" *ngIf="user">Perfil</p>
  <p routerLink="/pagar" class="enlace">Carrito</p>
</nav>
<main>
  <div class="topBar">
    <button class="volver" routerLink="/">Volver</button>
    <h1>{{game.nombre}}</h1>
  </div>
  <div class="imagenYPlataformas">
    <img src="{{game.imagen}}" alt="{{game.nombre}}">
    <div class="categorias">
      <h2>{{game.categoria}}</h2>
      <h2>Accion</h2>
      <h2>Aventura</h2>
      <h2>Multijugador</h2>
      <button id="comprar" (click)="addTocart()" *ngIf="game.cantidad >0">Agregar al carrito</button>
    </div>
  </div>
  <div class="descripcion">{{game.descripcion}}</div>
  <div class="comentarios">
    <h2>Comentarios</h2>
    <input type="text" maxlength="255" class="comentario" [(ngModel)]="textocomentarios"
      placeholder="Introduce tu comentario">
    <button type="submit" (click)="nuevoComentario()" *ngIf="user">Comentar</button>
    <div comentarios *ngFor="let comentarios2 of comentarios" class="textoComentario">
      <p class="idUser">{{comentarios2.nombreUsuario}}</p>
      <p class="Comentario">{{comentarios2.comentario}}</p>
    </div>
  </div>
</main>
