<main>
  <div id="Register">
    <h2>Register</h2>
    <br>
    <form action="">
      <div id="NombreApellido">
        <div id="divNombre">
          <label for="Nombre">Nombre</label>
          <br>
          <input type="text" name="Nombre" id="Nombre" />
        </div>
        <div id="divApellido">
          <label for="Apellido">Apellido</label>
          <br>
          <input type="text" name="Apellido" id="Apellido" />
        </div>
      </div>
      <br>
      <br>
      <div id="divCorreo">
        <label for="Correo">Correo</label>
        <br>
        <input type="email" name="Correo" id="Correo">
      </div>
      <br>
      <br>

      <div id="divContraseña">
        <label for="Contraseña">Contraseña</label>
        <br>
        <input type="password" name="Contraseña" id="Contraseña">
      </div>
      <br>
      <br>

      <div id="divRepetirContraseña">
        <label for="RepetirContraseña">Repetir Contraseña</label>
        <br>
        <input type="password" name="RepetirContraseña" id="RepetirContraseña">
      </div>
      <br>
      <br>

      <div id="divTelefono">
        <label for="Telefono">Telefono</label>
        <br>
        <input type="tel" name="Telefono" id="Telefono">
      </div>
      <br>
      <br>

      <div id="divDireccion">
        <label for="Direccion">Direccion</label>
        <br>
        <input type="tel" name="Direccion" id="Direccion">
      </div>
      <br>
      <br>
      <button type="submit" id="submit">Submit</button>
    </form>
  </div>

</main>
