main {
  display: flex;
  background-image: url('../../assets/image1.png');
  justify-content: center;
}
label{
  font-family: 'Exo2';

}
button{
    font-family: 'Exo2';
}
h2{
  display: flex;
  justify-content: center;
}

#Register {
  width: 30rem;
  background-color: #9AD0C2;
  border-radius: 10px;
  margin-bottom: 1rem;
  margin-top: 1rem;

}

input{
  height: 2rem;
  border-radius: 5px;
}

form{
  margin-left: 2rem;
  margin-right: 2rem;
}

#NombreApellido {
  display: flex;
  justify-content: space-between;
}

#divNombre,
#divApellido {
  flex: 1;
  margin-right: 10px;
}


#Correo{
  width: 90%;
}


#Contraseña{
  width: 90%;
}


#RepetirContraseña{
  width: 90%;
}


#Telefono{
  width: 90%;
}


#Direccion{
  width: 90%;
}

#submit{
  margin-left: 9rem;
  height: 2rem;
  width: 5rem;
  background-color: #F1FADA;
  margin-bottom: 2rem;
}


nav {
  display: flex;
  background-color: #2D9596;
  height: 2rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  align-items: center;
  justify-content: center;
  font-family: 'Jersey10';
}

nav p {
  padding: 0.5rem 4rem;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
